body{
    width:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    margin:0;
    padding:0;
    font-family: 'Segoe UI',sans-serif;
    font-size: 16px;
} 

a {text-decoration: none}
a {text-decoration: none !important; color: #77CED7;}

a:active, a:visited, a[href^="tel"], a[href^="sms"] { text-decoration: none; pointer-events: auto; cursor: default;}
table td {border-collapse: collapse;}

table { border-collapse:collapse; }
table td { border-collapse: collapse; }

span {
font-family: 'Segoe UI',sans-serif;
}

.container {
    border: 0;
    margin: 20px auto;
   
    width: 871px;
    border: 1px solid #B2B2B3;
}

.news-container, .top-container, footer {
    padding: 10px 30px;
}

.green-line {
    height: 5px;
    padding: 7.5px 0;
    border-style: none none solid none;
    border-bottom-width: 2.25px;
    border-bottom-color: #CADC49;   
}

.blue-line {
    height: 5px;
    padding: 7.5px 0;
    border-style: none none solid none;
    border-bottom-width: 2.25px;
    border-bottom-color: #77CED7;
}

h3 {
    color: rgb(52, 58, 65);
    font-size: 16px;
    font-family: "Segoe UI", sans-serif, serif, EmojiFont;
}

.title {
    color: rgb(52, 58, 65);
    font-size: 16px;
    font-weight: bolder;
}

.dateTime {
    color: rgb(100, 109, 122);
    font-size: 16px;
    font-weight: bolder;
}

.description {
    font-style: italic;
    color: rgb(100, 109, 122);
    font-size: 14px;
}

footer {
    padding: 20px 0;
    text-align: center;
}

footer img { display: block; padding-top:10px;margin: 0 auto; }

header {
    background-color: #77CED7;
    width: 100%;
    top: 0;
}

ul.menu { width: 100%; }
ul.menu li { display: inline-block; color: white; vertical-align: middle; text-transform: uppercase; line-height: 60px; padding: 0 30px; text-underline-position: above;}